body {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #788487;
  position: relative;
}

p {
  line-height: 28px;
  font-size: 15px;
}

html {
  overflow-x: hidden !important;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
  margin-bottom: 0px;
  color: #232323;
}

a {
  text-decoration: none;
  transition: all 0.2s;
  color: #000;
}
a:hover {
  color: rgb(0, 104, 0);
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
  line-height: 38px;
}

h4 {
  font-size: 22px;
  line-height: 32px;
}

h5 {
  font-size: 16px;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  line-height: 26px;
}
.mobile-navbar {
  line-height: normal;
}
.f-color {
  color: rgb(5, 146, 59);
}

h5.subtitle {
  font-size: 16px;
  font-weight: 400;
}

.no-padding {
  padding: 0;
}

.flaticon {
  display: inline;
}

.mb30 {
  margin-bottom: 30px;
}
.text-lg-right{
    text-align: right !important;
}
.section-padding {
  padding: 90px 0px;
}

.section-heading {
  text-align: center;
  width: 70%;
  margin: 0 auto 60px;
}

.section-title {
  line-height: 38px;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.section-title span {
  color: rgb(5, 146, 59);
}

.section {
  padding: 100px 0px;
}

.line {
  width: 50px;
  background: rgb(5, 146, 59);
  height: 1px;
  margin: 10px auto;
}

/*------------------------------------
 BANNER AREA
----------------------------------*/
.banner-area .content-padding {
  padding: 250px 0px 180px;
}

.content-padding {
  padding: 180px 0px 80px;
}
.banner-content {
  padding-right: 30px;
}

.banner-content .btn {
  margin-top: 15px;
}

.banner-content .banner-title {
  color: #fff;
  font-weight: 700;
  line-height: 50px;
}

.banner-content .subtitle {
  color: #fff;
  background: rgb(5, 146, 59);
  display: inline-block;
  padding: 3px 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.subtitle {
  color: rgb(5, 146, 59);
}

.banner-content p {
  margin: 20px 0px;
  color: #eee;
  font-size: 18px;
  line-height: 30px;
}

.banner-content .btn {
  margin-right: 12px;
}

.btn-sm {
  padding: 10px 30px;
}

.banner-1 {
  background: url("../images/banner/bg-2.jpg");
  background-size: cover;
  position: relative;
}

.banner-2 {
  background: url("../images/banner/slider-3.jpg");
  background-size: cover;
  position: relative;
}

.banner-3 {
  background: url("../images/banner/banner-bg.jpg");
  background-size: cover;
  position: relative;
}

.section-heading h2 {
  margin-bottom: 20px;
  font-weight: 400;
}

/* =======================================
INner Pages
=========================================*/

#page-banner {
  position: relative;
  padding: 60px 0px 80px;
}

.page-banner-area{
  background: url("../images/banner/image.jpg") no-repeat 50% 50%;
  background-size: cover;
}

/*-------------------- ------------
 INTRO SECTION
-----------------------------*/
#intro {
  padding-bottom: 0px;
}

.intro-img {
  margin-top: 45px;
}

#intro .section-heading p {
  color: #000;
  font-size: 30px;
  line-height: 40px;
}

.intro-box {
  margin-top: 30px;
  position: relative;
  margin-bottom: 20px;
}

.intro-box h4:before {
  position: absolute;
  left: 0px;
  top: 17px;
  content: "";
  bottom: 0px;
  background: #000;
  width: 50px;
  height: 2px;
}

.intro-box h4 {
  text-transform: uppercase;
  margin-bottom: 15px;
  position: relative;
  padding-left: 60px;
}

.intro-box span {
  font-size: 28px;
  color: rgb(5, 146, 59);
}

.intro-cta {
  margin-top: 40px;
}

/*--------------------------
  ABOUT SECTION
----------------------*/
.section-pt {
  padding-top: 90px;
}

.section-pb {
  padding-bottom: 90px;
}

#about {
  position: relative;
  padding-bottom: 85px;
}

.about-bg-img {
  position: absolute;
  right: 0px;
  content: "";
  background: url("../images/banner/1.jpg") 50% 50%;
  width: 40%;
  height: 100%;
  max-height: 560px;
  top: 0px;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
}

.about-content {
  margin-top: 94px;
}

.about-content .subtitle {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.about-content h3 {
  margin-bottom: 25px;
}

.about-list {
  margin-top: 30px;
}

.about-list li {
  width: 45%;
  float: left;
  margin-bottom: 15px;
  margin-right: 15px;
  color: #888;
}

.about-list li i {
  color: #000;
  margin-right: 10px;
}

/* ----------------------
ABOUT PAGE
-------------------------*/
.about-list2 li i {
  margin-right: 10px;
  color: rgb(5, 146, 59);
}

.icon-3x {
  font-size: 3rem;
}

.text-default {
  color: rgb(5, 146, 59);
}

.team-social li a {
  font-size: 13px;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid #fff;
  display: inline-block;
  padding-top: 3px;
  background: #fff;
}

/* ========================
HISTORY MISSION
==============================*/
.img-block img {
  width: 200px;
}
.flex-shrink-0 img{
    width: 200px;
    height: 160px;
}
.computer-logo img{
    width: 260px;
    height: 150px;
}
/* ========================

==============================*/
#section-strategy {
  background: url("../images/bg/bg-1.jpg") 50% 50% no-repeat;
  background-size: cover;
}

.strategy-text {
  margin-bottom: 50px;
}

.strategy-text h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}

.strategy-text span {
  font-size: 61px;
  color: rgb(5, 146, 59);
  margin-bottom: 15px;
  display: block;
}

/*--------------------------------
 COUNTER SECTION
-----------------------------*/
.counter {
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  margin: 10px 0px;
  color: rgb(5, 146, 59);
}
footer{
    margin-top: auto;
}
/*-------------------------------
 RESPONSIVE LAYOUT
---------------------------------*/
/*Extra large devices (large desktops, 1200px and up)*/
/*Large devices (desktops, 992px and up)*/
/*Medium devices (tablets, 768px and up)*/
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

  /*----------------------
     SECTION HEAINDG
    -----------------------*/
  .section-heading {
    width: 100%;
  }
  /*----------------
     ABOUT
    ----------------*/
  .about-list li {
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }
  .about-bg-img {
    width: 35%;
    height: 100%;
    max-height: 600px;
  }
  .about-content {
    margin-top: 60px;
  }
  #about {
    padding-bottom: 40px;
  }
  /*--------------
     COUNTER
    ----------------*/
  .counter{
    font-size: 40px;
    line-height: 50px;
  }
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  /*----------------------
     SECTION HEAINDG
    -----------------------*/
  .section-heading {
    width: 100%;
  }

  /*----------------
     ABOUT
    ----------------*/
  .about-content {
    margin-top: 60px;
  }
  #about {
    padding-bottom: 40px;
  }

}
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  /*----------------------
     SECTION HEAINDG
    -----------------------*/
  #intro .section-heading,
.section-heading {
    width: 100%;
  }
  #intro .section-heading p {
    font-size: 16px;
    line-height: 28px;
  }
  .section-title {
    font-size: 26px;
    line-height: 36px;
  }
  h1 {
    font-size: 32px;
    line-height: 36px;
  }
  /*--------------------
     BANNER
    -----------------*/
  .banner-content .banner-title {
    line-height: 37px;
  }
  .banner-content p {
    font-size: 13px;
  }
  /*----------------
     ABOUT
    ----------------*/
  .about-list li {
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }
  .about-bg-img {
    width: 35%;
    height: 100%;
    max-height: 600px;
  }
  .about-content {
    margin-top: 60px;
  }
  #about {
    padding-bottom: 40px;
  }
  .img-block img {
    width: 130px;
  }
  .service-block {
    margin-bottom: 20px;
  }
  /*-------------------
     TESTIMONIAL
    -------------------*/
  .testimonial-content {
    padding: 10px;
  }
  .features-section h3{
    font-size: 19px;
  }
  .features-section p , .about-list2{
    font-size: 12px;
  }
  .features-section span{
    font-size: 16px;
  }
  .flex-grow-1{
    padding-left: 10px;
  }
  .flex-grow-1 p{
    display: none;
  }
  .flex-grow-1 h4{
    font-size: 15px;
    text-align: justify;
  }
  .flex-shrink-0 img{
    height: 120px;
  }
}
