*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
body{
    width:100%;
    height: 3000px;
    background-color:#f1f1f1;
    font-family: vazir,sans-serif;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: vazir;
    src: url("../font/vazir.ttf");
}
/*NOTE pc navbar */
.pc-navbar{
    height: 70px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: fixed;
    transition: all .3s ease-in-out;
}
.pc-navbar .navbar-brand img{
    width: 150px;
    margin-bottom: 5px;  
}
.offcanvas{
    width: 100% !important;
}
.fixed-top{
    top: -40px;
    transform: translateY(40px);
    transition: transform .4s ease-in-out;
}
.pc-navbar .input-group{
    width: 384px;
    background-color: #E8EAED;
    border-radius: 10px;
    height: 39px;
}
.pc-navbar .input-group button{
    width:49px;
    height: 48px;
    background-color:#E0E0E0;
    border-radius: 10px;
    height:39px;
    display: flex;
    border-left: 1px solid rgb(106, 106, 106) !important;
    z-index: 10;
    justify-content: center;
    align-items: flex-end;    
} 
.pc-navbar .input-group button i{
    font-size: 23px;
}
.pc-navbar .input-group input{
    background-color: #E8EAED;
    transition: .2s all ease-in-out;
    height: 39px;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
}
.pc-navbar .input-group input::placeholder{
    color:rgb(181, 181, 181);
    font-size:15px
}
.pc-navbar .input-group input:focus{
    background-color: #E8EDF5;
    box-shadow: none !important;
    border: none !important;
}
.pc-navbar .input-group span{
    background-color: #E8EAED;
    transition: .2s all ease-in-out;
    cursor: pointer;
}
.pc-navbar .input-group span:hover{
    background-color:#E0E0E0;
}
.pc-navbar .input-group .dropdown-item{
    width: 220px;
    height: 50px;
}
.pc-navbar .input-group .dropend-item:hover .dropend-box{
    opacity: 1;
    visibility: visible;
}
.pc-navbar .input-group .dropend-box{
    width: 168px;
    height: auto;
    background-color:rgb(255, 255, 255);
    right: 100%;
    top: 5px;
    box-shadow: 1px 2px 10px rgb(163, 163, 163);
    opacity: 0;
    visibility: hidden;
    direction: rtl;
    display: flex;
    position: absolute;
    transition: .1s all ease-in-out;
}
.pc-navbar .input-group .dropend-box ul{
    padding: 0;
    width:100%;
    padding-top: 5px;
}
.pc-navbar .input-group .dropend-box ul li{
    list-style-type: none;
    margin-bottom: 10px;
    padding-right: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.pc-navbar .input-group .dropend-box ul li:hover{
    background-color:#e8edf56b
}
.pc-navbar .input-group .dropend-box ul li a{
    color:rgb(97, 96, 96);
    width: 100%;
    text-decoration: none;
}
.pc-navbar .switch-version-btn button{
    display: flex;
    width: 170px;
    height: 37px;
    display: flex;
    align-items: center;
    font-size: 15px;
    background-color: #EFEDE7;
    margin-left: 30px;
    border-radius: 5px;
    justify-content:space-around;
    align-items: center;
    border-bottom: 1px solid transparent;
    transition:.2s all ease-in-out
}
.pc-navbar .switch-version-btn button:hover{
    border-color: #75948b;
    box-shadow: 0px 2px 7px rgb(212, 212, 212);
}
.pc-navbar .switch-version-btn button a{
    color: rgb(91, 91, 91);
    text-decoration: none;
}
.pc-navbar .switch-version-btn button i{
    color:#40b08e
}
.pc-navbar .signIN{
    width: 87px;
    height: 40px;
    background-color: transparent;
    color: #008545;
    border-radius: 5px;
    transition:.2s all ease-in-out;
    font-size:15px;
}
.pc-navbar .signIN:hover ,.pc-navbar .nav-item:hover{
    background-color: #e8edf5a6
}
.pc-navbar .signUP{
    width: 87px;
    height: 40px;
    transition:.2s all ease-in-out;
    border-radius: 5px;
    font-size:15px;
    background-color: #008545;
    color:white;
}
.pc-navbar .signUP:hover{
    background-color: #01542c;
    box-shadow: 0px 7px 7px rgb(193, 193, 193);
}
.pc-navbar .nav-item{
    height: auto;
    display: flex;
    width: 110px;
    height: 40px;
    cursor: pointer;
    align-items: center;
    transition: .2s all ease-in-out;
    border-radius: 5px;
    justify-content: center;
}
.pc-navbar .full-drop-menu{
    width: 100%;
    height:455px;
    left: 0;
    top: 70px;
    display:flex;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-top: 4px solid rgba(0, 0, 0, 0.135);
    background-color:rgb(255, 255, 255);
    transition: .2s all ease-in-out;
    cursor: default;
}
.pc-navbar .hoverFullMenu:hover .full-drop-menu{
    opacity: 1;
    visibility: visible;
}
.pc-navbar .hoverFullMenu .boxLink{
    width: 200px;
    height: 90px;
    padding: 5px;
    border-radius: 10px;
    transition: .2s all ease-in-out;
    direction: ltr !important;
}
.pc-navbar .hoverFullMenu .boxLink:hover{
    background-color: #E8EDF5;
    cursor: pointer;
}
.pc-navbar .hoverFullMenu .boxLink .h6{
    font-size: 16px !important;
    margin-bottom: 2px;
    direction: ltr !important;
    text-align: start;
}
.pc-navbar .hoverFullMenu .boxLink span{
    font-size: 12px;
    color:#6b707cbf;
    direction: ltr !important;
    text-align: center !important;
}
.pc-navbar .hoverFullMenu .fullnavbar-links h5{
    font-size: 17px;
}
.pc-navbar .hoverFullMenu .boxLink .col-10{
    padding-left: 20px;
}
.pc-navbar .hoverFullMenu .fullnavbar-links a{
    font-size: 14px !important;
    line-height: 1.4 !important;
    color: #008545;
    text-decoration: none;
}
.pc-navbar h6{
    color:#008545
}
@media(max-width:992px){
    .pc-navbar .navbar-brand img{
        width: 110px;
        margin-bottom: 5px; 
    }
}

/* NOTE Mobile Navbar */
.mobile-navbar{
    width: 100%;
    height:60px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    position: fixed;
    transition: all .3s ease-in-out;

}
.mobile-navbar .logo-brand img{
    width: 100px;
}
.mobile-navbar .btn-open{
    height: 20px;
    width: 0px;
    margin:0 15px 0 20px;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-navbar .btn-open i{
    height: 40px;
    font-size: 35px;
    color: #008545; 
}
.mobile-navbar .btn-search{
    height: 20px;
    width: 20px;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-navbar .btn-search i{
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #008545; 
}