*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    list-style-type: none;
}
body{
    width:100%;
    height: auto;
    background-color:#f1f1f1;
    font-family: vazir,sans-serif;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
@font-face {
    font-family: vazir;
    src: url("../font/vazir.ttf");
}

/* NOTE custom scroll bar css */ 
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #008545;
}
::-webkit-scrollbar-thumb:hover {
    background: #004d28;
}

/* NOTE Scroll progress bar */
.scroll-progress{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    margin-top: 70px;
    transition: all .15s ease-in-out;
}
@media screen and (max-width: 768px){
    .scroll-progress{
        margin-top: 60px;
    }
}
.progress-container {
    background-color: rgba(150, 150, 150, 0);
    width: 100%;
}

.progress-bar {
    background-color: #008545;
    height: 4px;
    width: 0%;
}

/* NOTE Scroll fade Effect */
.appear{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: .7s all ease;
}
.appear.active{
    transform: translateY(0);
    opacity: 1;
}

 /* NOTE Back to top button */
#btn-back-to-top {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    background-color: #008545;
    border: none !important;
    border-radius: 50px 0px 0px 0px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: .5s all ease;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
}
#btn-back-to-top:hover{
        box-shadow: 0px 0px 10px 0px #008545;
}
#btn-back-to-top i{
    font-size: 15px;
    line-height: 50px;
    margin-left: 10px;
}
/* make button and icon smaller in mobile size */
@media screen and (max-width: 768px){
    #btn-back-to-top{
        width: 40px;
        height: 40px;
        border-radius: 40px 0px 0px 0px;
        display: flex;
        justify-content: center;
    }
    #btn-back-to-top i{
        font-size: 12px;
        line-height: 40px;
        margin-left: 7px !important;
        margin-top: -3px;
    }
}
/* NOTE Loader */
.loader{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.hide{
    display: none;
}
.pencil{
    display: block;
    width: 10em;
    height: 10em;
}

.pencil__body1,
.pencil__body2,
.pencil__body3,
.pencil__eraser,
.pencil__eraser-skew,
.pencil__point,
.pencil__rotate,
.pencil__stroke {
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

.pencil__body1,
.pencil__body2,
.pencil__body3 {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
}

.pencil__body1 {
    -webkit-animation-name: pencilBody1;
            animation-name: pencilBody1;
}

.pencil__body2 {
    -webkit-animation-name: pencilBody2;
            animation-name: pencilBody2;
}

.pencil__body3 {
    -webkit-animation-name: pencilBody3;
            animation-name: pencilBody3;
}

.pencil__eraser {
    -webkit-animation-name: pencilEraser;
            animation-name: pencilEraser;
    -webkit-transform: rotate(-90deg) translate(49px,0);
        -ms-transform: rotate(-90deg) translate(49px,0);
            transform: rotate(-90deg) translate(49px,0);
}

.pencil__eraser-skew {
    -webkit-animation-name: pencilEraserSkew;
            animation-name: pencilEraserSkew;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
}

.pencil__point {
    -webkit-animation-name: pencilPoint;
            animation-name: pencilPoint;
    -webkit-transform: rotate(-90deg) translate(49px,-30px);
        -ms-transform: rotate(-90deg) translate(49px,-30px);
            transform: rotate(-90deg) translate(49px,-30px);
}

.pencil__rotate {
    -webkit-animation-name: pencilRotate;
            animation-name: pencilRotate;
}

.pencil__stroke {
    -webkit-animation-name: pencilStroke;
            animation-name: pencilStroke;
    -webkit-transform: translate(100px,100px) rotate(-113deg);
        -ms-transform: translate(100px,100px) rotate(-113deg);
            transform: translate(100px,100px) rotate(-113deg);
}

/* Animations */
@-webkit-keyframes pencilBody1 {
    from,
      to {
      stroke-dashoffset: 351.86;
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
    }
  
    50% {
      stroke-dashoffset: 150.8;
   /* 3/8 of diameter */
      -webkit-transform: rotate(-225deg);
              transform: rotate(-225deg);
    }
}
@keyframes pencilBody1 {
    from,
      to {
      stroke-dashoffset: 351.86;
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
    }
  
    50% {
      stroke-dashoffset: 150.8;
   /* 3/8 of diameter */
      -webkit-transform: rotate(-225deg);
              transform: rotate(-225deg);
    }
}

@-webkit-keyframes pencilBody2 {
    from,
      to {
      stroke-dashoffset: 406.84;
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
    }
  
    50% {
      stroke-dashoffset: 174.36;
      -webkit-transform: rotate(-225deg);
              transform: rotate(-225deg);
    }
}

@keyframes pencilBody2 {
    from,
      to {
      stroke-dashoffset: 406.84;
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
    }
  
    50% {
      stroke-dashoffset: 174.36;
      -webkit-transform: rotate(-225deg);
              transform: rotate(-225deg);
    }
}

@-webkit-keyframes pencilBody3 {
    from,
      to {
      stroke-dashoffset: 296.88;
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
    }
  
    50% {
      stroke-dashoffset: 127.23;
      -webkit-transform: rotate(-225deg);
              transform: rotate(-225deg);
    }
}

@keyframes pencilBody3 {
    from,
      to {
      stroke-dashoffset: 296.88;
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
    }
  
    50% {
      stroke-dashoffset: 127.23;
      -webkit-transform: rotate(-225deg);
              transform: rotate(-225deg);
    }
}

@-webkit-keyframes pencilEraser {
    from,
      to {
      -webkit-transform: rotate(-45deg) translate(49px,0);
              transform: rotate(-45deg) translate(49px,0);
    }
  
    50% {
      -webkit-transform: rotate(0deg) translate(49px,0);
              transform: rotate(0deg) translate(49px,0);
    }
}

@keyframes pencilEraser {
    from,
      to {
      -webkit-transform: rotate(-45deg) translate(49px,0);
              transform: rotate(-45deg) translate(49px,0);
    }
  
    50% {
      -webkit-transform: rotate(0deg) translate(49px,0);
              transform: rotate(0deg) translate(49px,0);
    }
}

@-webkit-keyframes pencilEraserSkew {
    from,
      32.5%,
      67.5%,
      to {
      -webkit-transform: skewX(0);
              transform: skewX(0);
    }
  
    35%,
      65% {
      -webkit-transform: skewX(-4deg);
              transform: skewX(-4deg);
    }
  
    37.5%, 
      62.5% {
      -webkit-transform: skewX(8deg);
              transform: skewX(8deg);
    }
  
    40%,
      45%,
      50%,
      55%,
      60% {
      -webkit-transform: skewX(-15deg);
              transform: skewX(-15deg);
    }
  
    42.5%,
      47.5%,
      52.5%,
      57.5% {
      -webkit-transform: skewX(15deg);
              transform: skewX(15deg);
    }
}

@keyframes pencilEraserSkew {
    from,
      32.5%,
      67.5%,
      to {
      -webkit-transform: skewX(0);
              transform: skewX(0);
    }
  
    35%,
      65% {
      -webkit-transform: skewX(-4deg);
              transform: skewX(-4deg);
    }
  
    37.5%, 
      62.5% {
      -webkit-transform: skewX(8deg);
              transform: skewX(8deg);
    }
  
    40%,
      45%,
      50%,
      55%,
      60% {
      -webkit-transform: skewX(-15deg);
              transform: skewX(-15deg);
    }
  
    42.5%,
      47.5%,
      52.5%,
      57.5% {
      -webkit-transform: skewX(15deg);
              transform: skewX(15deg);
    }
}

@-webkit-keyframes pencilPoint {
    from,
      to {
      -webkit-transform: rotate(-90deg) translate(49px,-30px);
              transform: rotate(-90deg) translate(49px,-30px);
    }
  
    50% {
      -webkit-transform: rotate(-225deg) translate(49px,-30px);
              transform: rotate(-225deg) translate(49px,-30px);
    }
}

@keyframes pencilPoint {
    from,
      to {
      -webkit-transform: rotate(-90deg) translate(49px,-30px);
              transform: rotate(-90deg) translate(49px,-30px);
    }
  
    50% {
      -webkit-transform: rotate(-225deg) translate(49px,-30px);
              transform: rotate(-225deg) translate(49px,-30px);
    }
}

@-webkit-keyframes pencilRotate {
    from {
      -webkit-transform: translate(100px,100px) rotate(0);
              transform: translate(100px,100px) rotate(0);
    }
  
    to {
      -webkit-transform: translate(100px,100px) rotate(720deg);
              transform: translate(100px,100px) rotate(720deg);
    }
}

@keyframes pencilRotate {
    from {
      -webkit-transform: translate(100px,100px) rotate(0);
              transform: translate(100px,100px) rotate(0);
    }
  
    to {
      -webkit-transform: translate(100px,100px) rotate(720deg);
              transform: translate(100px,100px) rotate(720deg);
    }
}

@-webkit-keyframes pencilStroke {
    from {
      stroke-dashoffset: 439.82;
      -webkit-transform: translate(100px,100px) rotate(-113deg);
              transform: translate(100px,100px) rotate(-113deg);
    }
  
    50% {
      stroke-dashoffset: 164.93;
      -webkit-transform: translate(100px,100px) rotate(-113deg);
              transform: translate(100px,100px) rotate(-113deg);
    }
  
    75%,
      to {
      stroke-dashoffset: 439.82;
      -webkit-transform: translate(100px,100px) rotate(112deg);
              transform: translate(100px,100px) rotate(112deg);
    }
}

@keyframes pencilStroke {
    from {
      stroke-dashoffset: 439.82;
      -webkit-transform: translate(100px,100px) rotate(-113deg);
              transform: translate(100px,100px) rotate(-113deg);
    }
  
    50% {
      stroke-dashoffset: 164.93;
      -webkit-transform: translate(100px,100px) rotate(-113deg);
              transform: translate(100px,100px) rotate(-113deg);
    }
  
    75%,
      to {
      stroke-dashoffset: 439.82;
      -webkit-transform: translate(100px,100px) rotate(112deg);
              transform: translate(100px,100px) rotate(112deg);
    }
}
.fs-7{
    font-size: 13px;
}
/*NOTE pc navbar */
.pc-navbar{
    height: 70px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: fixed;
    transition: all .3s ease-in-out;
    z-index: 99;
}
.pc-navbar .navbar-brand img{
    width: 150px;
    margin-bottom: 5px;  
}
.offcanvas{
    width: 100% !important;
}
.fixed-top{
    top: -40px;
    transform: translateY(40px);
    transition: transform .4s ease-in-out;
}
.pc-navbar .input-group{
    width: 314px;
    background-color: #E8EAED;
    border-radius: 10px;
    height: 39px;
}
.pc-navbar .input-group button{
    width:49px;
    height: 48px;
    background-color:#E0E0E0;
    border-radius: 10px;
    height:39px;
    display: flex;
    border-left: 1px solid rgb(106, 106, 106) !important;
    z-index: 10;
    justify-content: center;
    align-items: flex-end;    
} 
.pc-navbar .input-group button i{
    font-size: 23px;
}
.pc-navbar .input-group input{
    background-color: #E8EAED;
    transition: .2s all ease-in-out;
    height: 39px;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
}
.pc-navbar .input-group input::placeholder{
    color:rgb(181, 181, 181);
    font-size:13px
}
.pc-navbar .input-group input:focus{
    background-color: #E8EDF5;
    box-shadow: none !important;
    border: none !important;
}
.pc-navbar .input-group span{
    background-color: #E8EAED;
    transition: .2s all ease-in-out;
    cursor: pointer;
}
.pc-navbar .input-group span:hover{
    background-color:#E0E0E0;
}
.pc-navbar .input-group .dropdown-item{
    width: 220px;
    height: 50px;
}
.pc-navbar .input-group .dropend-item:hover .dropend-box{
    opacity: 1;
    visibility: visible;
}
.pc-navbar .input-group .dropend-box{
    width: 168px;
    height: auto;
    background-color:rgb(255, 255, 255);
    right: 100%;
    top: 5px;
    box-shadow: 1px 2px 10px rgb(163, 163, 163);
    opacity: 0;
    visibility: hidden;
    direction: rtl;
    display: flex;
    position: absolute;
    transition: .1s all ease-in-out;
}
.pc-navbar .input-group .dropend-box ul{
    padding: 0;
    width:100%;
    padding-top: 5px;
}
.pc-navbar .input-group .dropend-box ul li{
    list-style-type: none;
    margin-bottom: 10px;
    padding-right: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.pc-navbar .input-group .dropend-box ul li:hover{
    background-color:#e8edf56b
}
.pc-navbar .input-group .dropend-box ul li a{
    color:rgb(97, 96, 96);
    width: 100%;
    text-decoration: none;
}
.pc-navbar .switch-version-btn button{
    display: flex;
    width: 150px;
    height: 37px;
    display: flex;
    align-items: center;
    font-size: 15px;
    background-color: #EFEDE7;
    margin-left: 30px;
    border-radius: 5px;
    justify-content:space-around;
    align-items: center;
    border-bottom: 1px solid transparent;
    transition:.2s all ease-in-out
}
.pc-navbar .switch-version-btn button:hover{
    border-color: #75948b;
    box-shadow: 0px 2px 7px rgb(212, 212, 212);
}
.pc-navbar .switch-version-btn button a{
    color: rgb(91, 91, 91);
    text-decoration: none;
}
.pc-navbar .switch-version-btn button i{
    color:#40b08e
}
.pc-navbar .signIN{
    width: 87px;
    height: 40px;
    background-color: transparent;
    color: #008545;
    border-radius: 5px;
    transition:.2s all ease-in-out;
    font-size:15px;
}
.pc-navbar .signIN:hover ,.pc-navbar .nav-item:hover{
    background-color: #e8edf5a6
}
.pc-navbar .signUP{
    width: 87px;
    height: 40px;
    transition:.2s all ease-in-out;
    border-radius: 5px;
    font-size:15px;
    background-color: #008545;
    color:white;
}
.pc-navbar .signUP:hover{
    background-color: #01542c;
    box-shadow: 0px 7px 7px rgb(193, 193, 193);
}
.pc-navbar .nav-item{
    height: auto;
    display: flex;
    width: 95px;
    height: 40px;
    cursor: pointer;
    align-items: center;
    transition: .2s all ease-in-out;
    border-radius: 5px;
    justify-content: center;
}
.pc-navbar .full-drop-menu{
    width: 100%;
    height:455px;
    left: 0;
    top: 60px;
    display:flex;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-top: 4px solid rgba(0, 0, 0, 0.135);
    background-color:rgb(255, 255, 255);
    transition: .1s all ease-in-out;
    cursor: default;
}
.pc-navbar .hoverFullMenu:hover .full-drop-menu{
    opacity: 1;
    visibility: visible;
}
.pc-navbar .hoverFullMenu .boxLink{
    width: 200px;
    height: 90px;
    padding: 5px;
    border-radius: 10px;
    transition: .2s all ease-in-out;
    direction: ltr !important;
}
.pc-navbar .hoverFullMenu .boxLink:hover{
    background-color: #E8EDF5;
    cursor: pointer;
}
.pc-navbar .hoverFullMenu .boxLink .h6{
    font-size: 16px !important;
    margin-bottom: 2px;
    direction: ltr !important;
    text-align: start;
}
.pc-navbar .hoverFullMenu .boxLink span{
    font-size: 12px;
    color:#6b707cbf;
    direction: ltr !important;
    text-align: center !important;
}
.pc-navbar .hoverFullMenu .fullnavbar-links h5{
    font-size: 17px;
}
.pc-navbar .hoverFullMenu .boxLink .col-10{
    padding-left: 20px;
}
.pc-navbar .hoverFullMenu .fullnavbar-links a{
    font-size: 14px !important;
    line-height: 1.4 !important;
    color: #008545;
    text-decoration: none;
}
.pc-navbar h6{
    color:#008545
}
@media(max-width:992px){
    .pc-navbar .navbar-brand img{
        width: 110px;
        margin-bottom: 5px; 
    }
}
/* pc navbar End */


/* NOTE Mobile Navbar */
.mobile-navbar{
    width: 100%;
    height:60px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    position: fixed;
    transition: all .3s ease-in-out;
    z-index: 99;
}
.mobile-navbar .logo-brand img{
    width: 100px;
}
.mobile-navbar .btn-open{
    height: 20px;
    width: 0px;
    margin:0 15px 0 20px;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-navbar .btn-open i{
    height: 40px;
    font-size: 35px;
    color: #008545; 
}
.mobile-navbar .box{
    position: relative;
    width: auto;
    display: flex;
    align-items: center;
}

.mobile-navbar .input {
    padding: 10px;
    width: 20px;
    height: 30px;
    background: none;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 12px;
    color: #E8EAED;
    outline: none;
    margin-top: 5px;
    transition: .5s;
}
.mobile-navbar .box:hover input{
    width: 150px;
    background: #049e53d5;
    border-radius: 10px;
}
.mobile-navbar .box i{
    position: absolute;
    top: 50%;
    right: -2px;
    transform: translate(-50%,-40%);
    font-size: 20px;
    color: #00854599;
    transition: .2s;
}
.mobile-navbar .box input::placeholder{
    font-size: 10px !important;
    color: #e0e0e0bb;
}
.mobile-navbar .box:hover i{
    opacity: 0;
    z-index: -1;
}
.mobile-navbar .offcanvas .btn-close{
    box-shadow: none !important;
}
.mobile-navbar .offcanvas .offcanvas-header{
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.mobile-navbar .offcanvas .offcanvas-body{
    padding: 0;
    overflow-x: hidden !important;
}
.mobile-navbar .offcanvas .loginBTN{
    width: 100%;
    height: 65px;
    background-color: rgb(47, 53, 66);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* mobile size scroll off */
@media (max-width: 992px) {
    .mobile-navbar .offcanvas ::-webkit-scrollbar {
        width: 0px;
    }
}

.mobile-navbar .offcanvas .loginBTN button{
    width: 90px;
    height: 35px;
    margin: 8px;
    border-radius: 5px;
    color: white;
}
.mobile-navbar .offcanvas .loginBTN button:first-child{
    background-color: transparent !important;
}
.mobile-navbar .offcanvas .loginBTN button:last-child{
    background-color: #008545 !important;
}
.mobile-navbar .offcanvas .loginBTN button a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.mobile-navbar .offcanvas ul{
    overflow: hidden !important;
    margin-top: 20px;
}
.mobile-navbar .offcanvas ul li{
    width: 130%;
    padding: 20px;
    margin-right: -30px !important;
}
.mobile-navbar .offcanvas ul li a{
    text-decoration: none;
    width: 85%;
    display: block;
    color: black;
}
.mobile-navbar .offcanvas .dropdown-mobile{
    width : 100%; 
    background: rgb(255, 255, 255);
    margin-bottom: 1px;
    border-bottom: 1px solid rgba(115, 115, 115, 0.858);
    overflow: hidden !important;
}
.mobile-navbar .offcanvas .dropdown-mobile label{
    width: 100%;

}
.mobile-navbar .offcanvas .dropdown-mobile span {
    padding : 15px 20px 25px 30px;
    color : rgb(82, 82, 82);
    line-height: 2;
    font-size : 1em;
    cursor : pointer;
    display: block;
    direction: rtl;
    transition: .2s all ease-in-out;
}
.mobile-navbar .offcanvas .dropdown-mobile span:hover{
    color:#008545
}
.mobile-navbar .offcanvas .dropdown-mobile span i{
    float: left;
    padding-top: 8px;
}
.mobile-navbar .offcanvas .dropdown-mobile .slide {
    clear:both;
    width:110%;
    margin-top: -30px;
    height:0px;
    background-color: white;
    overflow: hidden;
    text-align: center;
    transition: all .4s ease;
}
.mobile-navbar .offcanvas .dropdown-mobile ul li{
    width: 100%;
    padding: 10px;
    margin-right: 0px !important;
    text-align: start;
}
.mobile-navbar .offcanvas .dropdown-mobile ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #343434;
}
.mobile-navbar .offcanvas .dropdown-mobile #touch {position: absolute; opacity: 0; height: 0px;}    
.mobile-navbar .offcanvas .dropdown-mobile #touch:checked + .slide {height: 170px;margin-top: 0px;}
.mobile-navbar .offcanvas .dropdown-mobile #touch:checked +  ul {border-top: 1px solid rgba(115, 115, 115, 0.858);} 

.mobile-navbar .offcanvas .dropdown-mobile #touch1 {position: absolute; opacity: 0; height: 0px;}    
.mobile-navbar .offcanvas .dropdown-mobile #touch1:checked + .slide {height: 170px;margin-top: 0px;} 
.mobile-navbar .offcanvas .dropdown-mobile #touch1:checked +  ul {border-top: 1px solid rgba(115, 115, 115, 0.858);} 

.mobile-navbar .offcanvas .dropdown-mobile #touch2 {position: absolute; opacity: 0; height: 0px;}    
.mobile-navbar .offcanvas .dropdown-mobile #touch2:checked + .slide {height: 170px;margin-top: 0px;} 
.mobile-navbar .offcanvas .dropdown-mobile #touch2:checked +  ul {border-top: 1px solid rgba(115, 115, 115, 0.858);} 

.mobile-navbar .offcanvas .dropdown-mobile #touch3 {position: absolute; opacity: 0; height: 0px;}    
.mobile-navbar .offcanvas .dropdown-mobile #touch3:checked + .slide {height: 170px;margin-top: 0px;} 
.mobile-navbar .offcanvas .dropdown-mobile #touch3:checked +  ul {border-top: 1px solid rgba(115, 115, 115, 0.858);} 

.mobile-navbar .offcanvas .dropdown-mobile #touch4 {position: absolute; opacity: 0; height: 0px;}    
.mobile-navbar .offcanvas .dropdown-mobile #touch4:checked + .slide {height: 170px;margin-top: 0px;} 
.mobile-navbar .offcanvas .dropdown-mobile #touch4:checked +  ul {border-top: 1px solid rgba(115, 115, 115, 0.858);} 

.mobile-navbar .offcanvas .dropdown-mobile #touch5 {position: absolute; opacity: 0; height: 0px;}    
.mobile-navbar .offcanvas .dropdown-mobile #touch5:checked + .slide {height: 170px;margin-top: 0px;} 
.mobile-navbar .offcanvas .dropdown-mobile #touch5:checked +  ul {border-top: 1px solid rgba(115, 115, 115, 0.858);} 

@media(min-width:762px) and (max-width:992px){
    .mobile-navbar .offcanvas .dropdown-mobile {
        width: 100%;
    }
}
/* Mobile  navbar End */


/* NOTE Banner */
.header{
    padding-top: 50px;
    width: 100%;
    height: 450px !important;
    display: flex;
    flex-direction: column;
    z-index: -2;
    align-items: end;
    justify-content: center;
}
.header img{
    width: 50%;
    height: 50px;
    z-index: 1;
    transition: .1s all ease-out;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
.header #container{
    color:#f7f7f7;
    font-size:36px;
    font-weight:bold;
    width:100%;
    text-align: center;
    bottom:60%;
    display:flex;
    flex-direction: column;
    margin-top: 5vh;
}

.header #flip {
    height:50px;
    margin: 20px;
    overflow:hidden;
}

.header #flip > div > div {
    color:#fff;
    padding:1px 22px;
    height:55px;
    margin-bottom:35px;
    display:inline-block;
}

.header #flip div:first-child {
    animation: show 8s linear infinite;
}

.header #flip div div {
    background:#42c58a;
}
.header #flip div:first-child div {
    background:#019881;
}
.header #flip div:last-child div {
    background:#DC143C;
}

@keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
}

.header .graph__wrapper{
    position: absolute;
    left: 9px;
    transform: scaleX(1) rotate(-18deg);
    margin-bottom: 70px;
}
.header .graph__wrapper_1{
    position: absolute;
    right: 9px;
    transform: scaleX(-1) rotate(-18deg);
    margin-bottom: 70px;
}
.header .path { stroke-dasharray: 1000; stroke-dashoffset: 1000; animation: dash 4s linear forwards; animation-iteration-count: infinite ;animation-delay: 1s;}
@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
.header #arrow{animation: arrow 4s linear forwards;animation-delay: 1s;animation-iteration-count: infinite; opacity:0;}
@keyframes arrow {
    to {
    opacity: 1;
    }
}
.header .ifrm{border:none; width:100%;margin-top:50px;}

.continue-application {
    --color: #f5f5f5;
    --background: #019881;
    --background-hover: #016556;
    --background-left: #038f7a;
    --folder: #F3E9CB;
    --folder-inner: #BEB393;
    --paper: #FFFFFF;
    --paper-lines: #BBC1E1;
    --paper-behind: #E1E6F9;
    --pencil-cap: #fff;
    --pencil-top: #275EFE;
    --pencil-middle: #fff;
    --pencil-bottom: #5C86FF;
    --shadow: rgba(13, 15, 25, .2);
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    margin-left: auto;
    margin-right: auto;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    padding: 16px 39px 16px 79px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: var(--color);
    background: var(--bg, var(--background));
}

.continue-application > div {
    top: 0;
    left: 0;
    bottom: 0;
    width: 53px;
    position: absolute;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
    background: var(--background-left);
}

.continue-application > div .folder {
    width: 23px;
    height: 27px;
    position: absolute;
    left: 15px;
    top: 11px;
}

.continue-application > div .folder .top {
    left: 0;
    top: 0;
    z-index: 2;
    position: absolute;
    -webkit-transform: translateX(var(--fx, 0));
        -ms-transform: translateX(var(--fx, 0));
            transform: translateX(var(--fx, 0));
    -webkit-transition: -webkit-transform 0.4s ease var(--fd, 0.3s);
    transition: -webkit-transform 0.4s ease var(--fd, 0.3s);
    transition: transform 0.4s ease var(--fd, 0.3s);
    transition: transform 0.4s ease var(--fd, 0.3s), -webkit-transform 0.4s ease var(--fd, 0.3s);
}

.continue-application > div .folder .top svg {
    width: 24px;
    height: 27px;
    display: block;
    fill: var(--folder);
    -webkit-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
            transform-origin: 0 50%;
    -webkit-transition: -webkit-transform 0.3s ease var(--fds, 0.45s);
    transition: -webkit-transform 0.3s ease var(--fds, 0.45s);
    transition: transform 0.3s ease var(--fds, 0.45s);
    transition: transform 0.3s ease var(--fds, 0.45s), -webkit-transform 0.3s ease var(--fds, 0.45s);
    -webkit-transform: perspective(120px) rotateY(var(--fr, 0deg));
            transform: perspective(120px) rotateY(var(--fr, 0deg));
}

.continue-application > div .folder:before, .continue-application > div .folder:after,
.continue-application > div .folder .paper {
    content: "";
    position: absolute;
    left: var(--l, 0);
    top: var(--t, 0);
    width: var(--w, 100%);
    height: var(--h, 100%);
    border-radius: 1px;
    background: var(--b, var(--folder-inner));
}

.continue-application > div .folder:before {
    -webkit-box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
            box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
    -webkit-transform: translateX(var(--fx, 0));
        -ms-transform: translateX(var(--fx, 0));
            transform: translateX(var(--fx, 0));
    -webkit-transition: -webkit-transform 0.4s ease var(--fd, 0.3s);
    transition: -webkit-transform 0.4s ease var(--fd, 0.3s);
    transition: transform 0.4s ease var(--fd, 0.3s);
    transition: transform 0.4s ease var(--fd, 0.3s), -webkit-transform 0.4s ease var(--fd, 0.3s);
}

.continue-application > div .folder:after,
.continue-application > div .folder .paper {
    --l: 1px;
    --t: 1px;
    --w: 21px;
    --h: 25px;
    --b: var(--paper-behind);
}

.continue-application > div .folder:after {
    -webkit-transform: translate(var(--pbx, 0), var(--pby, 0));
        -ms-transform: translate(var(--pbx, 0), var(--pby, 0));
            transform: translate(var(--pbx, 0), var(--pby, 0));
    -webkit-transition: -webkit-transform 0.4s ease var(--pbd, 0s);
    transition: -webkit-transform 0.4s ease var(--pbd, 0s);
    transition: transform 0.4s ease var(--pbd, 0s);
    transition: transform 0.4s ease var(--pbd, 0s), -webkit-transform 0.4s ease var(--pbd, 0s);
}

.continue-application > div .folder .paper {
    z-index: 1;
    --b: var(--paper);
}

.continue-application > div .folder .paper:before, .continue-application > div .folder .paper:after {
    content: "";
    width: var(--wp, 14px);
    height: 2px;
    border-radius: 1px;
    -webkit-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
            transform: scaleY(0.5);
    left: 3px;
    top: var(--tp, 3px);
    position: absolute;
    background: var(--paper-lines);
    -webkit-box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
            box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
}

.continue-application > div .folder .paper:after {
    --tp: 6px;
    --wp: 10px;
}

.continue-application > div .pencil {
    height: 2px;
    width: 3px;
    border-radius: 1px 1px 0 0;
    top: 8px;
    left: 105%;
    position: absolute;
    z-index: 3;
    -webkit-transform-origin: 50% 19px;
        -ms-transform-origin: 50% 19px;
            transform-origin: 50% 19px;
    background: var(--pencil-cap);
    -webkit-transform: translateX(var(--pex, 0)) rotate(35deg);
        -ms-transform: translateX(var(--pex, 0)) rotate(35deg);
            transform: translateX(var(--pex, 0)) rotate(35deg);
    -webkit-transition: -webkit-transform 0.4s ease var(--pbd, 0s);
    transition: -webkit-transform 0.4s ease var(--pbd, 0s);
    transition: transform 0.4s ease var(--pbd, 0s);
    transition: transform 0.4s ease var(--pbd, 0s), -webkit-transform 0.4s ease var(--pbd, 0s);
}

.continue-application > div .pencil:before, .continue-application > div .pencil:after {
    content: "";
    position: absolute;
    display: block;
    background: var(--b, linear-gradient(var(--pencil-top) 55%, var(--pencil-middle) 55.1%, var(--pencil-middle) 60%, var(--pencil-bottom) 60.1%));
    width: var(--w, 5px);
    height: var(--h, 20px);
    border-radius: var(--br, 2px 2px 0 0);
    top: var(--t, 2px);
    left: var(--l, -1px);
}

.continue-application > div .pencil:before {
    -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
    clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
}

.continue-application > div .pencil:after {
    --b: none;
    --w: 3px;
    --h: 6px;
    --br: 0 2px 1px 0;
    --t: 3px;
    --l: 3px;
    border-top: 1px solid var(--pencil-top);
    border-right: 1px solid var(--pencil-top);
}

.continue-application:before, .continue-application:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    border-radius: 1px;
    background: var(--color);
    -webkit-transform-origin: 10px 1px;
        -ms-transform-origin: 10px 1px;
            transform-origin: 10px 1px;
    -webkit-transform: translateX(var(--cx, 0)) scale(.5) rotate(var(--r, 45deg));
        -ms-transform: translateX(var(--cx, 0)) scale(.5) rotate(var(--r, 45deg));
            transform: translateX(var(--cx, 0)) scale(.5) rotate(var(--r, 45deg));
    top: 23px;
    right: 18px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.continue-application:after {
    --r: 135deg;
}

.continue-application:hover {
    --cx: 2px;
    --bg: var(--background-hover);
    --background-left: #016556;
    --fx: -40px;
    --fr: -60deg;
    --fd: .15s;
    --fds: 0s;
    --pbx: 3px;
    --pby: -3px;
    --pbd: .15s;
    --pex: -24px;
    box-shadow: 0px 10px 10px #006936;
    color:white;
}

.continue-application:active{
    --bg:rgb(5, 151, 131);
}
@media(max-width:762px){
    .header #container{
        font-size: 29px;
    }
}
@media(max-width:992px){
    .header .graph__wrapper ,.graph__wrapper_1{
        display: none;
    } 
}
@media (min-width:762px) and (max-width:992px){
    .header #container{
        margin-top: 4vh;
    }
}
/* End Banner */

/* NOTE Vertical Line */

.hr-fixed{
    display: flex;
    justify-content: center;
    margin-top:155px;
    position: -webkit-sticky;
    position: sticky;
    top: 190px;
    transition: .1s all ease-in-out;
    visibility: visible;
    opacity: 1;
}
.hr-fixed-sticky{
    visibility: hidden;
    opacity: 0;
}
.divider
{
	position: relative;
	height: 1px;
    width: 400px;
    transform: rotate(90deg);
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-dot:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 18px;
	height: 18px;
	background-color: #008545;
	border: 1px solid rgb(48,49,51);
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px #f1f1f1,
					0 0 0 4px #f1f1f1;
}

/* End Vertical Line*/

/* NOTE Main Body School */
.school-body{
    width: 100%;
    padding-top: 50px;
}
.school-body .text-school{
    width: 85%;
    text-align: justify;
    padding-right: 5%;
}
.school-body .text-school h1{
    line-height: 1.6;
    font-size: 31px;
    justify-content: justify;
}
.school-body .text-school h1 span{
    color: #006936;
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
.school-body .text-school button{
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    margin-top: 15px;
}

.school-body .text-school button.learn-more {
    width: 11rem;
    height: auto;
}

.school-body .text-school button.learn-more .circle {
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #01542c;
    border-radius: 1.625rem;
}

.school-body .text-school button.learn-more .circle .icon {
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

.school-body .text-school button.learn-more .circle .icon.arrow {
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    right: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.school-body .text-school button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    left: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-left: 0.125rem solid #fff;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.school-body .text-school button.learn-more .button-text {
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 1.85rem 0 0;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

.school-body .text-school button:hover .circle{
    display:block !important;
    width: 100% !important;
}
.school-body .text-school button:hover .circle .icon.arrow {
    background: #fff;
    -webkit-transform: translate(-1rem, 0) ;
        -ms-transform: translate(-1rem, 0) ;
            transform: translate(-1rem, 0) ;
}

.school-body .text-school button:hover .button-text{
    color: #fff;
}
.school-body .text-school p{
    margin-top: 25px;
    color:#0000009a;
    font-size: 15px;
    line-height: 1.8;
}
.school-body .img-school{
    width: 100%;
    direction: ltr;
    display: flex;
    justify-content: center;
}
.school-body .img-school img{
    width: 85%;
    border: 3px solid #006936;
    border-radius: 3px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
.school-body section:not(:first-child){
    margin-top: 150px;
}
@media(min-width:992px){
    .school-body{
        border-top: 1px solid;
    }
}

@media(max-width:762px){
    .school-body .img-school{
        width: 100%;
        justify-content: center;
        padding-right: 5%;
    }
    .school-body .img-school img{
        width: 95%;
    }
    .school-body section:not(:first-child){
        margin-top: 100px;
    }
    .school-body .text-school{
        margin-top: 30px;
        width: 95%;
        padding-right: 8%;
    }
    .school-body .text-school h1{
        font-size: 20px;
    }
    .school-body .text-school p{
        font-size: 12px;
    }
    .school-body .text-school button.learn-more .circle {
        width: 2rem;
        height: 2rem;
    }
    
    
    .school-body .text-school button.learn-more .circle .icon.arrow {
        right: -.2rem;
        width: 1.25rem;
        height: .1rem;
    }
    .school-body .text-school button.learn-more .circle .icon.arrow::before {
        top:    -0.181rem;
        left:   -0.12rem;
        width:  0.425rem;
        height: 0.425rem;
    }
    
    .school-body .text-school button.learn-more .button-text {
        padding: 0.75rem 0;
        margin: 0 1.45rem 0 0;
        line-height: 0.625rem;
    }
    
}
/* only tablet media query */
@media(min-width:762px) and (max-width:992px){
    .school-body{
        margin-top: 100px;
    }
    .school-body .text-school{
        width: 88%;
        padding-right: 9%;
    }
}

/* NOTE Section Cards */
.section-cards{
    width: 100%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-cards .cards-section-title{
    width: 82%;
    height: auto;
}
.section-cards .cards-section-title .row .col-md-6{
    height: 100%;
    display: flex;
    align-items: center;
}
.section-cards .cards-section-title .row .col-md-6 h4{
    padding-top: 5px;
    font-size: 20px;
    line-height: 2;
    color: #006936 !important;
}
.section-cards .cards-section-body{
    width: 87%;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
.section-cards .cards-section-body .row{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.section-cards .cards-section-body .row .col-md-4{
    width: auto;
}
/* ? cards */
.section-cards .cards-section-body .card{
    position: relative;
    width: 43vh;
    height: 450px;
    overflow: hidden;
    border-radius: 10px !important;
    cursor: pointer;
    transition: all 0.3s ease;
} 
.section-cards .cards-section-body .card:hover{
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.276);
}
.section-cards .cards-section-body .card-image{
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease;
}
.section-cards .cards-section-body .card-image-1{
    background-image:url('../images/support.jpg')
}
.section-cards .cards-section-body .card-image-2{
    background-image:url('../images/Technology.jpg')
}
.section-cards .cards-section-body .card-image-3{
    background-image:url('../images/job.jpg')
}
.section-cards .cards-section-body .card-image-4{
    background-image:url('../images/Collaboration.jpg');
    background-position: -280px center;
}
.section-cards .cards-section-body .card-shadow{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
}
.section-cards .cards-section-body .card:hover .card-image {
    transform: scale(1.03);
}
.section-cards .cards-section-body .card-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 20px;
    color: #ffffff;
    transition: all 0.3s ease;
    opacity: 1;
}

.section-cards .cards-section-body .card:hover .card-overlay {
    opacity: 1;
}
.section-cards .cards-section-body .card-title{
    font-size: 25px;
    white-space: nowrap;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    transition: all 0.3s ease;
}
.section-cards .cards-section-body .card-title::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -8px;
    left: 0;
    background-color: #019881;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.section-cards .cards-section-body .card:hover .card-title::after{
    transform: scaleX(1);
    transform-origin: bottom right;
}
.section-cards .cards-section-body .card:hover .card-title{
    margin-bottom: 8%;
}
.section-cards .cards-section-body .card-link{
    display: flex;
    align-items: center;
    padding: 10px 0px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.section-cards .cards-section-body .card-icon{
    border: 1px solid rgb(135, 135, 135);
    margin-left: 10px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.section-cards .cards-section-body .card-link i{
    font-size: 33px;
    transition: all 0.3s ease;
}
.section-cards .cards-section-body .card:hover .card-link i{
    color: #ffffff;
}
.section-cards .cards-section-body .card:hover .card-link .card-icon{
    background-color: #019881;
    border-color: #019881;
}

@media (max-width: 762px) {
    .section-cards .cards-section-title .row .col-md-6{
        width: 335px;
        padding-right: 7%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .section-cards .cards-section-title .row .col-md-6 h1{
        font-size: 24px;
    }
    .section-cards .cards-section-title .row .col-md-6 h4{
        font-size: 13px;
    }
    .section-cards .cards-section-body .row .col-md-4:not(:first-child){
        padding-top: 50px;
    }
    .section-cards .cards-section-body .card{
        width: 300px;
        height: 400px;
    }
    .section-cards .cards-section-body .card-title{
        font-size: 25px;
    }
    .section-cards .cards-section-body .card-link{
        font-size: 11px;
    }
    .section-cards .cards-section-body .card-icon{
        width: 30px;
        height: 30px;
    }
    .section-cards .cards-section-body .card-link i{
        font-size: 22px;
    }
}  
@media (min-width: 762px) and (max-width: 991px) {
    .section-cards .cards-section-body .card{
        width: 550px;
    }
    .section-cards .cards-section-title .row .col-md-6 h1{
        font-size: 24px;
    }
    .section-cards .cards-section-title .row .col-md-6 h4{
        font-size: 13px;
    }
    .section-cards .cards-section-body .row .col-md-4{
        padding-top: 50px;
    }
    .section-cards .cards-section-body .card-title{
        font-size: 27px;
    }
    .section-cards .cards-section-body .card-link{
        font-size: 15px;
    }
    .section-cards .cards-section-body .card-icon{
        width: 35px;
        height: 35px;
    }
    .section-cards .cards-section-body .card-link i{
        font-size: 26px;
    }
}


/* NOTE Footer*/
footer{
    margin-top: 200px;
}
footer img{
    height: 140px;
    width: 200px;
    margin-bottom: 40px;
}
footer .container{
    padding-bottom: 10px;
}
footer .row{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .row:first-child{
    width: 80%;
}
footer .row:nth-child(3){
    align-items: flex-end;
}

footer i{
    padding: 17px;
    font-size: 22px;
    color: #8996a0;
    transition: .15s all ease-in-out;
}
footer i:hover{
    color: #006936;
}
.footer-text{
    color: #8996a0 ;
    text-decoration: none;
    transition: .15s all ease-in-out;
}
footer .footer-text a{
    color: #8996a0 ;
    text-decoration: none;
    transition: .15s all ease-in-out;
}
footer a:hover{
    color: #006936;
}
.font-size-18{
    font-size: 18px;
}
@media (max-width: 767px) {
    footer .row {
        width: 100%;
    }
    footer .row:nth-child(3) {
        font-size: 12px;
        text-align: center;
    }
    footer h5{
        margin-top: 20px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    footer .row:first-child {
        width: 100%;
    }
    footer .row {
        width: 100%;
    }
    footer .row:nth-child(3) {
        font-size: 10px;
        text-align: center;
    }
    footer .text-md-center p{
        font-size: 9px;
    }
}