.teachers-section{
width: 100%;
height: auto;
}
.teachers-section h1 {
text-align: center;
color: #000000;
margin: 4rem 0 3rem 0;
}
.teachers-section .container{
    width: 85% !important;
}
a {
text-decoration: none;
transition: all 0.2s;
}
.teachers-section a:hover {
color: rgb(0, 104, 0);
text-decoration: none;
}

.teachers-section a:focus {
outline: none;
text-decoration: none;
}


.teachers-section .filterDiv {
float: left;
color: #000;
width: 240px;
height: 340px;
margin: 20px 20px;
display: none;
padding: 0;
padding-bottom:10px;
}
.teachers-section .filterDiv h5{
    margin-top: 10px;
}
.teachers-section .filterDiv span{
    color: #666;
    font-size: 14px;
}
.teachers-section .filter-image{
    width: 100%;
    overflow: hidden;
}
.teachers-section .filter-image img{
    width: 100%;
    height: 260px;
    transition: all .3s ease-in-out;
}
.teachers-section .filterDiv:hover .filter-image img{
    transform: scale(1.1);
}
.filter-image {
	position: relative;
}
.filter-image::before {
	position: absolute;
	top: 0;
	right: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(right, #0a734700 0%, #0a73 100%);
	background: linear-gradient(to left, #0a734700 0%, #0a73 100%);
	-webkit-transform: skewX(25deg);
	transform: skewX(25deg);
}
.filter-image:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		right: 125%;
	}
}
@keyframes shine {
	100% {
		right: 125%;
	}
}


.teachers-section .show {
display: block;
}

.teachers-section .container {
margin-top: 20px;
overflow: hidden;
}

/* Style the buttons */
.teachers-section #myBtnContainer{
width: 100%;
display: flex;
justify-content: center;
}
.teachers-section #myBtnContainer .row{
    width: 98%;
    display: flex;
    justify-content: center;
}
.teachers-section .btn {
border: none;
outline: none;
padding: 10px 26px;
background-color: #eeeeee00;
cursor: pointer;
}

.teachers-section .btn:hover {
background-color: #ddddddb6;
}

.teachers-section .btn.active {
background-color: #0a7347;
color: white;
}

.is-animated {
animation: .6s zoom-in;
}

@keyframes zoom-in {
0% {
    transform: scale(.1);
} 
100% {
    transform: none;
}
}

.teachers-section .scale-in-center {
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes scale-in-center {
0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
}
100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
}
}
@keyframes scale-in-center {
0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
}
100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
}
}
